{% load tag %}
{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/all.js' %}"></script>
</head>
<body>

<!-- nav -->
<nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="logo-box">
      <img src="{% static 'img/logo2.jpg' %}" alt="kwaku manu cartoon img logo">
    </a>
    <ul class="nav-list">
      <li>
        <a href="{% url 'home' %}" class="active">home</a>
      </li>
      {% if request.path == '/' %}
      <li>
        <a href="#features">features</a>
      </li>
      <li>
        <a href="#about">about</a>
      </li>
      <li>
        <a href="#contact">contact</a>
      </li>
      {% else %}
      {# #}
      {% endif %}
      <button class="mobile-menu-close-btn">
        <i class="fas fa-times"></i>
      </button>
    </ul>
    <div class="icons-box">
      <button class="search-btn" aria-label="search button">
        <i class="fas fa-search"></i>
      </button>
      <button class="menu-btn" aria-label="navbar menu button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <!-- search form -->
  <form action="{% url 'search' %}" method="GET">
    <div class="input-div">
      <input type="search" name="search" id="search" placeholder="search" required>
      <button class="search-submit" aria-label="search submit button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <!-- end of search form -->
</nav>
<!-- end of nav -->

    {% block content %}
    {% endblock %}
    <!-- footer -->
    <footer>
      <div class="footer-wrapper">
        <div class="footer-content-wrapper">

          <div class="footer-info-box">
            <h2>BB Page Blog</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quia quod quidem odio facilis incidunt molestiae, labore modi dolore vel quasi porro reprehenderit maxime ab ipsum rerum delectus dolor dicta.</p>
            <div class="social-icons-box">
              <a href="#n" class="social-icon" data-aos="fade-up" data-aos-delay="100" aria-label="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#n" class="social-icon" data-aos="fade-up" data-aos-delay="200" aria-label="youtube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#n" class="social-icon" data-aos="fade-up" data-aos-delay="300" aria-label="instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="info-links-box">
            <h2>information</h2>
            <ul class="info-links">
              <li>
                <a href="{% url 'privacy' %}">Privacy</a>
              </li>
              <li>
                <a href="{% url 'terms' %}">Terms and conditions</a>
              </li>
            </ul>
          </div>
          <div class="footer-links-box">
            <h2>links</h2>
            <ul class="footer-links">
              <li>
                <a href="{% url 'home' %}" class="active">home</a>
              </li>
              {% if request.path == '/' %}
              <li>
                <a href="#features">features</a>
              </li>
              <li>
                <a href="#about">about</a>
              </li>
              <li>
                <a href="#contact">contact</a>
              </li>
              {% else %}
              {# #}
              {% endif %}
            </ul>
          </div>
          <div class="contact-info-box">
            <h2>Reach us</h2>
            <div class="location-box">
              <i class="fas fa-map-marker-alt"></i>
              <p>404 fake street, legon, ghana</p>
            </div>
            <div class="tel-box">
              <i class="fas fa-phone"></i>
              <p>+233 244 444 444</p>
            </div>
            <div class="email-box">
              <i class="fas fa-envelope"></i>
              <p>info@bbpage.com</p>
            </div>
          </div> 

        </div>
        <p class="footer-copyright-info">Copyright &copy; <span id="date"></span> all rights reserved | Made by <span class="company-name">swonet company.</span></p>
      </div>
    </footer>
    <!-- end of footer -->
    <!-- js links -->
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <!-- qjuery for the comment inputs -->
    <script>
      $("#id_name").attr("placeholder", "name")
      $("#id_email").attr("placeholder", "email")
      $("#id_content").attr("placeholder", "comment")
    </script>
  <!-- end of qjuery for the comment inputs -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
