{% extends "dashboard/dashboard_base.html" %}
{% block title %}
Create Profile
{% endblock %}

{% block content %}

<!-- profile update form -->
<section class="login-form-section" style="padding: 10rem 0!important">
    <div class="box" style="width: 500px;">
      <div class="login-container">
        <div class="form p-2">
          <h2 class="mx-auto d-block text-uppercase mb-0 text-muted">create your account</h2>
          <form class="login-form" action="{% url 'create_profile' %}" method="POST" id="sign-up-form">
              {% csrf_token %}
            <div class="inputBox">
                {{ form.as_p }}
            </div>
            <div class="inputBox">
                <input type="submit" class="text-white" value="Create profile" />
            </div>
            <p class="forget">Already have an account? <a href="{% url 'login_user' %}">Log in</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- end of profile update form -->

<div class="sign-up-msg-box">
    {% for message in messages %}
        {{message}}.
    {% endfor %}
</div>
{% endblock %}