{% extends "base_home.html" %}
{% block content %}
 
<!-- signup form -->
<section class="login-form-section" style="padding: 10rem 0!important;">
    <div class="box" style="width: 500px;">
      <div class="login-container">
        <div class="form p-2">
          <h2 class="mx-auto d-block text-uppercase mb-0 text-muted">create your account</h2>
          <form class="login-form" action="{% url 'create_account' %}" method="POST" id="sign-up-form">
              {% csrf_token %}
            <div class="inputBox">
                {{ form.as_p }}
            </div>
            <div class="inputBox">
              <input type="submit" value="SIGN UP">
            </div>
            <p class="forget">Already have an account? <a href="{% url 'login_user' %}">Log in</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- end of signup form -->

<div class="sign-up-msg-box">
    {% for message in messages %}
    {{message}}.
    You can now login <a href="{% url 'login_user' %}">Login</a>
    
    {% endfor %}
</div>
{% endblock %}