{% extends 'base.html' %}
{% load static %}
{% block title %}
Terms and conditions
{% endblock %}
{% block content %}
<main class="my-5">
    <section class="terms-section">
        <div class="section-wrapper" style="font-size: 1.8rem;">
          <h1 class="my-3 text-center">Terms and Conditions of this blog.</h1> 
          <h2>These Terms govern:</h2> 
          <p>The use of this Blog and	
            any other related Agreement or legal relationship with the Owner
            </p>
         <h2 class="my-3">TERMS OF USE</h2>
         <p>Unless otherwise specified, the terms of use detailed in this section apply generally when using this Application.
            Single or additional conditions of use or access may apply in specific scenarios and in such cases are additionally indicated within this document.
            </p>
         <h2>Content on this Application</h2>
         <p>Unless where otherwise specified or clearly recognizable, all content available on this Application is owned or provided by the Owner or its licensors.
            The Owner undertakes its utmost effort to ensure that the content provided on this Application infringes no applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a result.
            In such cases, without prejudice to any legal prerogatives of Users to enforce their rights, Users are kindly asked to preferably report related complaints using the contact details provided in this document.
            </p>
         <h2 class="my-3">Rights regarding content on this Website - All rights reserved</h2>
         <p>The Owner holds and reserves all intellectual property rights for any such content.
            Users may not therefore use such content in any way that is not necessary or implicit in the proper use of the Service.
            In particular, but without limitation, Users may not copy, download, share (beyond the limits set forth below), modify, translate, transform, publish, transmit, sell, sublicense, edit, transfer/assign to third parties or create derivative works from the content available on this website, nor allow any third party to do so through the User or their device, even without the User's knowledge.
            Where explicitly stated on this Website, the User may download, copy and/or share some content available through this website for its sole personal and non-commercial use and provided that the copyright attributions and all the other attributions requested by the Owner are correctly implemented.
            Any applicable statutory limitation or exception to copyright shall stay unaffected.
            </p>
            <h2 class="my-3">Access to external resources</h2>
            <p>Through this Application Users may have access to external resources provided by third parties. Users acknowledge and accept that the Owner has no control over such resources and is therefore not responsible for their content and availability.
                Conditions applicable to any resources provided by third parties, including those applicable to any possible grant of rights in content, result from each such third parties' terms and conditions or, in the absence of those, applicable statutory law.
                </p>
            <h2 class="mt-3">Acceptable use</h2>
            <p>This Website  and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.
                Users are solely responsible for making sure that their use of this Website violates no applicable law, regulations or third-party rights.
                Therefore, the Owner reserves the right to take any appropriate measure to protect its legitimate interests including by denying Users access to this Website or the Service, terminating contracts, reporting any misconduct performed through this Website or the Service to the competent authorities - such as judicial or administrative authorities - whenever Users engage or are suspected to engage in any of the following activities:
                • violate laws, regulations and/or these Terms;
                • infringe any third-party rights;
                • considerably impair the Owner's legitimate interests;
                • offend the Owner or any third party.
                </p>
            <h2 class="my-3">Privacy policy</h2>
            <p>To learn more about the use of their Personal Data, Users may refer to the privacy policy of this Application.</p>
            <h2 class="my-3">Intellectual property rights</h2>
            <p>Without prejudice to any more specific provision of these Terms, any intellectual property rights, such as copyrights, trademark rights, patent rights and design rights related to this Application are the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties relating to intellectual property.
                All trademarks — nominal or figurative — and all other marks, trade names, service marks, word marks, illustrations, images, or logos appearing in connection with this Application are, and remain, the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties related to intellectual property.
                </p>
            <h2 class="my-3">Changes to these Terms</h2>
            <p>The Owner reserves the right to amend or otherwise modify these Terms at any time. In such cases, the Owner will appropriately inform the User of these changes.
                Such changes will only affect the relationship with the User for the future.
                The continued use of the Service will signify the User's acceptance of the revised Terms. If Users do not wish to be bound by the changes, they must stop using the Service. Failure to accept the revised Terms, may entitle either party to terminate the Agreement.
                The applicable previous version will govern the relationship prior to the User's acceptance. The User can obtain any previous version from the Owner.
                If required by applicable law, the Owner will specify the date by which the modified Terms will enter into force.
                </p>
                <h2 class="my-3">Assignment of contract</h2>
                <p>The Owner reserves the right to transfer, assign, dispose of by novation, or subcontract any or all rights or obligations under these Terms, taking the User's legitimate interests into account. Provisions regarding changes of these Terms will apply accordingly.</p>
            <h2 class="my-3">Contacts</h2>
            <p>All communications relating to the use of this Application must be sent using the contact information stated in this document.</p>
            <h2 class="my-3">Severability</h2>
            <p>Should any provision of these Terms be deemed or become invalid or unenforceable under applicable law, the invalidity or unenforceability of such provision shall not affect the validity of the remaining provisions, which shall remain in full force and effect.</p>
            <h2 class="my-3">Governing law</h2>
            <p>These Terms are governed by the law of the place where the Owner is based, as disclosed in the relevant section of this document, without regard to conflict of laws principles.</p>
            <h2 class="my-3">Venue of jurisdiction</h2>
            <p>The exclusive competence to decide on any controversy resulting from or connected to these Terms lies with the courts of the place where the Owner is based, as displayed in the relevant section of this document.</p>
            <h2 class="my-3">Dispute resolution</h2>
            <p>Amicable dispute resolution
                Users may bring any disputes to the Owner who will try to resolve them amicably.
                While Users' right to take legal action shall always remain unaffected, in the event of any controversy regarding the use of this Application or the Service, Users are kindly asked to contact the Owner at the contact details provided in this document.
                    </p>
        </div>
    </section>
</main>
{% endblock %}